<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>User Posts</title>
</head>
<body>
  <h1>Posts of <%= user.username %></h1>

  <% if (user.posts.length > 0) { %>
    <ul>
      <% user.posts.forEach((post) => { %>
        <li><%= post.title %> - <%= post.content %></li>
      <% }); %>
    </ul>
  <% } else { %>
    <p>No posts found.</p>
  <% } %>

</body>
</html>
