<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/board.css">
    <link rel="stylesheet" href="/css/homepage.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Profile</title>
</head>

<body>
    <nav>
        <a href="/homepage"><img src="/images/logo.png"></a>

        <ul class="nav-menu">
            <li><a href="/homepage"><button class="homebutton" >Homepage</button></a></li>
            <li><a href="/users"><button class="homebutton" >Search Users</button></a></li>
            <li><a href="/login"><button class="homebutton" >Log out</button></a></li>
            </h1>
        </ul>
    </nav>

    <div class="board-container">
    <div class="board-contents" style="cursor: pointer;">
    

    <div class="board-profile">
    <!-- Display the profile picture if it exists -->
    <div class="board-profile-name">
    <% if (user.profilePicture) { %>
        <img src="<%= user.profilePicture %>" alt="Profile Picture" style="max-width: 100px;">
        <% } else { %>
            <!-- Display a default profile picture if the user has not uploaded a custom picture -->
            <img src="/images/default-profile-picture.jpg" alt="Default Profile Picture" style="max-width: 100px;">
            <p>No profile picture uploaded.</p>
            <% } %>
        <span>@<%= user.username %></span>
    </div>
    </div>
    
    
<div class="board-photos">
<% posts.forEach((post) => { %>
        <div>
            <a href="/post/<%= post._id %>">
                <% if (post.photo) { %>
                    <img src="<%= post.photo %>" alt="Post Photo">
                <% } %>
            </a>
        </div>
    <% }); %>
    </div>
    </div>
    </div>
</body>
</html>