* {
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #d9d9d9;
    overflow-x: hidden
}

div.container {
    display: flex;
}

a.fill-div {
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    color: inherit; 
    text-decoration:none; 
    cursor:pointer;  
}

nav {
    background-color: white;
    padding: 0.75%;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    margin: -10px -10px 25px -10px;
    z-index: 1;
}

nav img {
    max-height: 40px;
    padding: 0 30px;
}

.search-box {
    position: relative;
    display: block;
    height: 30px;
    border-radius: 15px;
    background-color: #d9d9d9;
    padding: 0 30px;
}

.search-box input[type="text"] {
    border: none;
    outline: none;
    background-color: transparent;
    height: 100%;
    width: calc(100% - 30px);
    font-size: 14px;
    color: white;
}

.search-box .search-button {
    position: absolute;
    top: -490%;
    right: -60%;
    width: 325px;
    height: 325px;
    transform: scale(0.04);
    background: url('../Images/sprite-icons-2.png') -511px -466px no-repeat;
    border: none;
    cursor: pointer;
}

.search-box .search-button:hover {
    position: absolute;
    top: -490%;
    right: -60%;
    width: 325px;
    height: 325px;
    transform: scale(0.04);
    background: url('../Images/sprite-icons-2.png') -511px -878px no-repeat;
    border: none;
    cursor: pointer;
}

.search-box ::placeholder {
    color: white;
}


.left-container {
    width: 30%;
    margin: 0 15px 0 45px;
}

.profile {
    background-color: white;
    padding: 30px;
    margin: 0 0 30px 0;
}


.profile .profile-name {
    display: flex;
    align-items: center;
}

.profile .profile-name img {
    max-height: 100px;
    border-radius: 50%;
    margin: 15px;
    cursor: pointer;
}

.profile .profile-name span {
    max-height: 100px;
    border-radius: 50%;
    margin: 15px;
    font-weight: 800;
    color: #ffa800;
}

.profile .profile-name span:hover {
    max-height: 100px;
    border-radius: 50%;
    margin: 15px;
    font-weight: 800;
    color: #00b2ff;
}

.profile .profile-follow {
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile .profile-follow .followers {
    color: #ff3131;
    line-height: 0px;
    text-align: center;
    margin: 0 auto;
}

.profile .profile-follow .followers:hover{
    color: #00b2ff;
    line-height: 0px;
    text-align: center;
    margin: 0 auto;
}

.profile .profile-follow .followers .follower-number {
    font-size: 70px;
    font-weight: 700;
}

.profile .profile-follow .following {
    color: #d9d9d9;
    line-height: 0%;
    text-align: center;
    margin: 0 auto;
}

.profile .profile-follow .following:hover {
    color: #00b2ff;
    line-height: 0%;
    text-align: center;
    margin: 0 auto;
}

.profile .profile-follow .following .following-number {
    font-size: 70px;
    font-weight: 700;
}

.create-board {
    background-color: white;
    padding: 40px;
    margin: 0 0 30px 0;
}

.create-board span {
    font-weight: 800;
}

.create-board .board-button {
    border: 0px;
    background-color: white;
    color: #737373;
}

.create-board .board-button:hover {
    border: 0px;
    background-color: white;
    color: #00b2ff;
}

.middle-container {
    width: 40%;
    margin: 0 15px;
}

.homepage-buttons {
    margin: 0 0 30px 0;
    padding: 0px;
    display: flex;
}

.homepage-buttons .buttons {
    background-color: white;
    color: #737373;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    width: 25%;
    cursor: pointer;
    margin: 0 5px 0 0;
    padding: 10px 10px;
}

.homepage-buttons .buttons:hover{
    background-color: #ff8a00;
    color: white;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    width: 25%;
    cursor: pointer;
    padding: 10px 10px;
}

.homepage-buttons .rightside-buttons {
    background-color: white;
    color: #737373;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    width: 25%;
    cursor: pointer;
    padding: 10px 10px;
}

.homepage-buttons .rightside-buttons:hover{
    background-color: #ff8a00;
    color: white;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    width: 25%;
    cursor: pointer;
    padding: 10px 10px;
}

.profile-page {
    background-color: white;
    padding: 10px;
    margin: 0 0 30px 0;
    display: flex;
}

.profile-page .profile-pic {
    align-items: center;
    width: 30%;
}

.profile-page .profile-pic img {
    max-height: 100px;
    border-radius: 50%;
    margin: 15px;
    cursor: pointer;
}

.profile-page .profile-details {
    display: flex;
    flex-direction: column;
    width: 70%;
}

.profile-page .profile-details .profile-name-follow {
    max-height: 100px;
    border-radius: 50%;
    margin: 15px 15px -15px 15px;
}

.profile-page .profile-details .profile-name-follow span {
    font-weight: 800;
    color: #ffa800;
}

#follow-btn {
    font-size: 16px;
    background-color: #ff8a00;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 8px 12px;
    cursor: pointer;
    margin: 0px 0px 0px 50px;
}

#follow-btn:hover {
    background-color: #00b2ff;
}

#follow-btn.following {
    background-color: transparent;
    color: #ff8a00;
    border: 1px solid #ff8a00;
}

#follow-btn.following:hover {
    background-color: #ff8a00;
    color: #fff;
}

.profile-page .profile-details .profile-follow-numbers {
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-page .profile-details .profile-follow-numbers .followers {
    color: #ff3131;
    line-height: 0px;
    text-align: center;
    margin: 0 auto;
}

.profile-page .profile-details .profile-follow-numbers .followers:hover {
    color: #00b2ff;
    line-height: 0px;
    text-align: center;
    margin: 0 auto;
}

.profile-page .profile-details .profile-follow-numbers .followers .follower-number {
    font-size: 70px;
    font-weight: 700;
}

.profile-page .profile-details .profile-follow-numbers .following {
    color: #d9d9d9;
    line-height: 0%;
    text-align: center;
    margin: 0 auto;
}

.profile-page .profile-details .profile-follow-numbers .following:hover {
    color: #00b2ff;
    line-height: 0%;
    text-align: center;
    margin: 0 auto;
}

.profile-page .profile-details .profile-follow-numbers .following .following-number {
    font-size: 70px;
    font-weight: 700;
}

.feed {
    background-color: white;
    padding: 30px;
    margin: 0 0 30px 0;
    cursor: pointer;
    position: relative;
}

.feed .post img{
    background-size: cover;
    object-fit: cover;
    width: 450px;
    height: 450px;
}

.feed .username-thread {
    display: flex;
    align-items: center;
}

.feed .username-thread img {
    max-height: 50px;
    border-radius: 50%;
}

.feed .username-thread span {
    max-height: 100px;
    border-radius: 50%;
    margin: 5px;
    font-weight: 800;
    color: #ffa800;
}

.feed .reply-thread {
    color: #c8d852;
    font-size: 18px;
    font-weight: bold;
}

.feed .reply-thread:hover {
    color: #00b2ff;
    font-size: 18px;
    font-weight: bold;
}

.feed .post-thread {
    font-size: 18px;
    font-weight: 600;
    margin: 30px 0 15px 0;
}

.board-two-pics {
    display: flex;
}

.board-two-pics .board-two-pics-firsthalf img{
    background-size: cover;
    object-fit: cover;
    width: 215px;
    height: 440px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.board-two-pics .board-two-pics-secondhalf img{
    vertical-align: middle;
    background-size: cover;
    object-fit: cover;
    width: 215px;
    height: 215px;
    margin: 0px 0px 10px 0px;
}

.feed-board {
    font-weight: bold;
    font-size: larger;
}

.right-container {
    width: 30%;
    margin: 0 40px 0 15px;
}

.create-pin {
    background-color: white;
    padding: 30px 30px 30px 30px;
    margin: 0 0 30px 0;
}

.create-pin p {
    font-weight: 800;
}

#textbox {
    border: none;
    outline: none;
    background-color: #737373;
    min-width: 350px;
    min-height: 200px;
    margin: 5px 0;
    padding: 20px;
    box-sizing: content-box;
}

.create-pin textarea{
    color: white;
}

.right-container .create-pin .share-add-photos-buttons {
    display: flex;
    flex-direction: row;
}

.share {
    display: flex;
    align-items: center;
    font-size: 15px;
    font-weight: bold;
    color: #c8d852;
    border: 0px;
    background-color: white;
    margin-right: 5px;
}

.share span{
    margin-left: 5px;
}

.share:hover {
    display: flex;
    align-items: center;
    font-size: 15px;
    font-weight: bold;
    color: #00b2ff;
    border: 0px;
    background-color: white;
    margin-right: 5px;
}

.right-container .create-pin .add-photo {
    display: flex;
    align-items: center;
    font-size: 15px;
    font-weight: bold;
    color: #c8d852;
    border: 0px;
    background-color: white;
}

.right-container .create-pin .add-photo:hover {
    display: flex;
    align-items: center;
    font-size: 15px;
    font-weight: bold;
    color: #00b2ff;
    border: 0px;
    background-color: white;
}

.right-container .create-pin .add-photo span{
    margin-left: 5px;
}

.create-thread {
    background-color: white;
    padding: 30px 30px 30px 30px;
    margin: 0 0 30px 0;
}

.create-thread p {
    font-weight: 800;
}

.create-thread textarea{
    color: white;
}

.follow-box {
    background-color: white;
    padding: 30px;
    margin:  0 35% auto 35%;
    position: relative;
}

.follow-box .username-follow {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.follow-box .username-follow img {
    max-height: 50px;
    border-radius: 50%;
}

.follow-box .username-follow span {
    max-height: 100px;
    border-radius: 50%;
    margin: 5px;
    font-weight: 800;
    color: #ffa800;
}

.follow-box .username-follow span {
    max-height: 100px;
    border-radius: 50%;
    margin: 5px;
    font-weight: 800;
    color: #ffa800;
}

.close {
    color:black;
    position: absolute;
    margin: 5px;
    top: 0;
    right: 0;
}

.close:hover {
    color:#ff3131;
}

.username-follow {
    cursor: pointer;
}

.topic {
    background-color: white;
    padding: 5px;
  }
  
  .topic .username-thread {
    display: flex;
    align-items: center;
  }
  
  .topic .username-thread img {
    max-height: 50px;
    border-radius: 50%;
    cursor: pointer;
  }
  
  .topic .username-thread span {
    max-height: 100px;
    border-radius: 50%;
    margin: 5px;
    font-weight: 800;
    color: #ffa800;
    cursor: pointer;
  }
  
  .topic-container {
    width: 40%;
    margin: 0 auto;
    border: 1px solid #ccc;
    padding: 10px;
  }
  
  .topic p {
    border-bottom: 2px solid rgb(142, 142, 142);
    padding-bottom: 20px;
    margin-top: 10px;
  }
  
  .comment {
    padding: 0px;
    margin: 0 0 5px 0;
    display: flex;
  }
  
  .comment .username-thread {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .comment img {
    max-height: 50px;
    border-radius: 40%;
    cursor: pointer;
  }
  
  .comment .username-thread span {
    display: inline-block;
    padding: 0px 10px;
    font-weight: 800;
    color: #ffa800;
    font-size: 16px;
    cursor: pointer;
  }
  

  
  .comment .comment-box {
    display: inline-block;
    width: 100%;
    margin-left: 10px;
    background: #d9d9d9;
    padding: 10px;
    border-radius: 50px;
  }
  
  .comment .comment-content {
    padding: 0px 10px;
    border-radius: 5px;
    line-height: 1.5;
    font-size: 16px;
    font-weight: bold;
  }

  .comment-container {
    position: absolute;
    top: 70px; /* Adjust the top position as needed */
    bottom: 50px; /* Adjust the bottom position as needed */
    left: 0;
    right: 0;
    margin: auto;
    width: 50%;
    background-color: #ffffff;
    padding: 30px;
  }

  .reply-container {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    background-color: #ffffff;
    box-sizing: border-box;
}

.reply {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
}

.comment .user img {
    max-height: 50px;
    border-radius: 50%;
    cursor: pointer;
}

.reply .user img {
    max-height: 50px;
    border-radius: 50%;
    cursor: pointer;
}

.reply .reply-content {
    display: flex;
    align-items: center;
    flex-grow: 1;
    margin-left: 10px;
}

.reply textarea {
    color: white;
    border: 0px;
    outline: none;
    padding: 10px;
    border: 0;
    font-size: 16px;
    width: 100%;
    background: #d9d9d9;
    border-radius: 50px;
}

.reply button {
    margin-left: 10px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    font-size: 16px;
}

.reply button:hover {
    background-color: #45a049;
}
