* {
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #d9d9d9;
    overflow-x: hidden
}

div.container {
    display: flex;
    justify-content: center;
}

a.fill-div {
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    color: inherit; 
    text-decoration:none; 
    cursor:pointer;  
}

nav {
    background-color: white;
    padding: 0.75%;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    margin: -10px -10px 25px -10px;
    z-index: 1;
}

nav img {
    max-height: 40px;
    padding: 0 30px;
}

.nav-title {
    font-family: 'Roboto', sans-serif;
    font-size: 1.4rem;
    margin: 0;
    display: inline-block;
  }
  
  .nav-menu {
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: inline-block;
    position: absolute;
    right: 20px;
  }
  
  .nav-menu li {
      display: inline-block;
    margin-left: 20px;
  }
  
  .nav-menu li:first-child {
    margin-left: 0;
  }
  
  .nav-menu li a {
    text-decoration: none;
    color: #000000;
  }

.search-box {
    position: relative;
    display: block;
    height: 30px;
    border-radius: 15px;
    background-color: #d9d9d9;
    padding: 0 30px;
}

.search-box input[type="text"] {
    border: none;
    outline: none;
    background-color: transparent;
    height: 100%;
    width: calc(100% - 30px);
    font-size: 14px;
    color: white;
}

.search-box .search-button {
    position: absolute;
    top: -490%;
    right: -60%;
    width: 325px;
    height: 325px;
    transform: scale(0.04);
    background: url('../Images/sprite-icons-2.png') -511px -466px no-repeat;
    border: none;
    cursor: pointer;
}

.search-box .search-button:hover {
    position: absolute;
    top: -490%;
    right: -60%;
    width: 325px;
    height: 325px;
    transform: scale(0.04);
    background: url('../Images/sprite-icons-2.png') -511px -878px no-repeat;
    border: none;
    cursor: pointer;
}

.search-box ::placeholder {
    color: white;
}


.left-container {
    display: flex;
    
    width: 20%;
    flex-direction: column;
    margin: 0 15px 0 45px;
}

.profile {
    background-color: white;
    padding: 30px;
    margin: 0 0 30px 0;
}


.profile .profile-name {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.profile .profile-name img {
    max-height: 100px;
    border-radius: 50%;
    margin: 15px;
    cursor: pointer;
    /* Apply a circular mask to the image */
    object-fit: cover;
    object-position: center center;
    width: 100px;
    height: 100px;
}

.profile .profile-name span {
    max-height: 100px;
    border-radius: 50%;
    margin: 15px;
    font-weight: 800;
    color: #ffa800;
}

.profile .profile-name span:hover {
    max-height: 100px;
    border-radius: 50%;
    margin: 15px;
    font-weight: 800;
    color: #00b2ff;
}

.profile .profile-follow {
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile .profile-follow .followers {
    color: #ff3131;
    line-height: 0px;
    text-align: center;
    margin: 0 auto;
}

.profile .profile-follow .followers:hover{
    color: #00b2ff;
    line-height: 0px;
    text-align: center;
    margin: 0 auto;
}

.profile .profile-follow .followers .follower-number {
    font-size: 70px;
    font-weight: 700;
}

.profile .profile-follow .following {
    color: #d9d9d9;
    line-height: 0%;
    text-align: center;
    margin: 0 auto;
}

.profile .profile-follow .following:hover {
    color: #00b2ff;
    line-height: 0%;
    text-align: center;
    margin: 0 auto;
}

.profile .profile-follow .following .following-number {
    font-size: 70px;
    font-weight: 700;
}

.changeProfilePic {
    display: flex;
    flex-direction: column  ;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 40px;
    margin: 0 0 30px 0;
}

.changeProfilePic span {
    font-weight: 800;
}

.changeProfilePic .change-button {
    border: 0px;
    background-color: white;
    color: #737373;
}

.changeProfilePic .change-button:hover {
    border: 0px;
    background-color: white;
    color: #00b2ff;
}

.middle-container {
    width: 40%;
    margin: 0 15px;
}

.profile-page {
    background-color: white;
    padding: 10px;
    margin: 0 0 30px 0;
    display: flex;
}

.profile-page .profile-pic {
    align-items: center;
    width: 30%;
}

.profile-page .profile-pic img {
    max-height: 100px;
    border-radius: 50%;
    margin: 15px;
    cursor: pointer;
}

.profile-page .profile-details {
    display: flex;
    flex-direction: column;
    width: 70%;
}

.profile-page .profile-details .profile-name-follow {
    max-height: 100px;
    border-radius: 50%;
    margin: 15px 15px -15px 15px;
}

.profile-page .profile-details .profile-name-follow span {
    font-weight: 800;
    color: #ffa800;
}

#follow-btn {
    font-size: 16px;
    background-color: #ff8a00;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 8px 12px;
    cursor: pointer;
    margin: 0px 0px 0px 50px;
}

#follow-btn:hover {
    background-color: #00b2ff;
}

#follow-btn.following {
    background-color: transparent;
    color: #ff8a00;
    border: 1px solid #ff8a00;
}

#follow-btn.following:hover {
    background-color: #ff8a00;
    color: #fff;
}

.profile-page .profile-details .profile-follow-numbers {
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-page .profile-details .profile-follow-numbers .followers {
    color: #ff3131;
    line-height: 0px;
    text-align: center;
    margin: 0 auto;
}

.profile-page .profile-details .profile-follow-numbers .followers:hover {
    color: #00b2ff;
    line-height: 0px;
    text-align: center;
    margin: 0 auto;
}

.profile-page .profile-details .profile-follow-numbers .followers .follower-number {
    font-size: 70px;
    font-weight: 700;
}

.profile-page .profile-details .profile-follow-numbers .following {
    color: #d9d9d9;
    line-height: 0%;
    text-align: center;
    margin: 0 auto;
}

.profile-page .profile-details .profile-follow-numbers .following:hover {
    color: #00b2ff;
    line-height: 0%;
    text-align: center;
    margin: 0 auto;
}

.profile-page .profile-details .profile-follow-numbers .following .following-number {
    font-size: 70px;
    font-weight: 700;
}

.feed {
    background-color: white;
    padding: 30px;
    margin: 0 0 30px 0;
    cursor: pointer;
    position: relative;
}

.feed .post img{
    background-size: cover;
    object-fit: cover;
    width: 450px;
    height: 450px;
}

.feed .username-thread {
    display: flex;
    align-items: center;
}

.feed .username-thread img {
    max-height: 50px;
    border-radius: 50%;
}

.feed .username-thread span {
    max-height: 100px;
    border-radius: 50%;
    margin: 5px;
    font-weight: 800;
    color: #ffa800;
}

.feed .reply-thread {
    color: #c8d852;
    font-size: 18px;
    font-weight: bold;
}

.feed .reply-thread:hover {
    color: #00b2ff;
    font-size: 18px;
    font-weight: bold;
}

.feed .post-thread {
    font-size: 18px;
    font-weight: 600;
    margin: 30px 0 15px 0;
}

.board-two-pics {
    display: flex;
}

.board-two-pics .board-two-pics-firsthalf img{
    background-size: cover;
    object-fit: cover;
    width: 215px;
    height: 440px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.board-two-pics .board-two-pics-secondhalf img{
    vertical-align: middle;
    background-size: cover;
    object-fit: cover;
    width: 215px;
    height: 215px;
    margin: 0px 0px 10px 0px;
}

.feed-board {
    font-weight: bold;
    font-size: larger;
}

.right-container {
    width: 50%;
    margin: 0 40px 0 15px;
    flex-direction: column;
}

.create-pin {
    background-color: white;
    padding: 30px 30px 30px 30px;
    margin: 0 0 30px 0;
}

.create-pin p {
    font-weight: 800;
}

#textbox {
    border: none;
    outline: none;
    background-color: #737373;
    min-width: 350px;
    min-height: 200px;
    margin: 5px 0;
    padding: 20px;
    box-sizing: content-box;
}

.create-pin textarea{
    color: white;
}

.right-container .create-pin .share-add-photos-buttons {
    display: flex;
    flex-direction: row;
}

.share {
    display: flex;
    align-items: center;
    font-size: 15px;
    font-weight: bold;
    color: #c8d852;
    border: 0px;
    background-color: white;
    margin-right: 5px;
}

.share span{
    margin-left: 5px;
}

.share:hover {
    display: flex;
    align-items: center;
    font-size: 15px;
    font-weight: bold;
    color: #00b2ff;
    border: 0px;
    background-color: white;
    margin-right: 5px;
}

.right-container .create-pin .add-photo {
    display: flex;
    align-items: center;
    font-size: 15px;
    font-weight: bold;
    color: #c8d852;
    border: 0px;
    background-color: white;
}

.right-container .create-pin .add-photo:hover {
    display: flex;
    align-items: center;
    font-size: 15px;
    font-weight: bold;
    color: #00b2ff;
    border: 0px;
    background-color: white;
}

.right-container .create-pin .add-photo span{
    margin-left: 5px;
}

.create-thread {
    background-color: white;
    padding: 30px 30px 30px 30px;
    margin: 0 0 30px 0;
}

.create-thread p {
    font-weight: 800;
}

.create-thread textarea{
    color: white;
}

.follow-box {
    background-color: white;
    padding: 30px;
    margin:  0 35% auto 35%;
    position: relative;
}

.follow-box .username-follow {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.follow-box .username-follow img {
    max-height: 50px;
    border-radius: 50%;
}

.follow-box .username-follow span {
    max-height: 100px;
    border-radius: 50%;
    margin: 5px;
    font-weight: 800;
    color: #ffa800;
}

.follow-box .username-follow span {
    max-height: 100px;
    border-radius: 50%;
    margin: 5px;
    font-weight: 800;
    color: #ffa800;
}

.close {
    color:black;
    position: absolute;
    margin: 5px;
    top: 0;
    right: 0;
}

.close:hover {
    color:#ff3131;
}

.username-follow {
    cursor: pointer;
}

.topic {
    background-color: white;
    padding: 5px;
  }
  
  .topic .username-thread {
    display: flex;
    align-items: center;
  }
  
  .topic .username-thread img {
    max-height: 50px;
    border-radius: 50%;
    cursor: pointer;
  }
  
  .topic .username-thread span {
    max-height: 100px;
    border-radius: 50%;
    margin: 5px;
    font-weight: 800;
    color: #ffa800;
    cursor: pointer;
  }
  
  .topic-container {
    width: 40%;
    margin: 0 auto;
    border: 1px solid #ccc;
    padding: 10px;
  }
  
  .topic p {
    border-bottom: 2px solid rgb(142, 142, 142);
    padding-bottom: 20px;
    margin-top: 10px;
  }
  
  .comment {
    padding: 0px;
    margin: 0 0 5px 0;
    display: flex;
  }
  
  .comment .username-thread {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .comment img {
    max-height: 50px;
    border-radius: 40%;
    cursor: pointer;
  }
  
  .comment .username-thread span {
    display: inline-block;
    padding: 0px 10px;
    font-weight: 800;
    color: #ffa800;
    font-size: 16px;
    cursor: pointer;
  }
  

  
  .comment .comment-box {
    display: inline-block;
    width: 100%;
    margin-left: 10px;
    background: #d9d9d9;
    padding: 10px;
    border-radius: 50px;
  }
  
  .comment .comment-content {
    padding: 0px;
    border-radius: 5px;
    line-height: 1.5;
    font-size: 16px;
    font-weight: bold;
  }

  .comment-container {
    position: absolute;
    top: 70px; /* Adjust the top position as needed */
    bottom: 50px; /* Adjust the bottom position as needed */
    left: 0;
    right: 0;
    margin: auto;
    width: 50%;
    background-color: #ffffff;
    padding: 30px;
  }

  .reply-container {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    background-color: #ffffff;
    box-sizing: border-box;
}

.reply {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
}

.comment .user img {
    max-height: 50px;
    border-radius: 50%;
    cursor: pointer;
}

.reply .user img {
    max-height: 50px;
    border-radius: 50%;
    cursor: pointer;
}

.reply .reply-content {
    display: flex;
    align-items: center;
    flex-grow: 1;
    margin-left: 10px;
}

.reply textarea {
    color: white;
    border: 0px;
    outline: none;
    padding: 10px;
    border: 0;
    font-size: 16px;
    width: 100%;
    background: #d9d9d9;
    border-radius: 50px;
}

.reply button {
    margin-left: 10px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    font-size: 16px;
}

.reply button:hover {
    background-color: #45a049;
}

.homebutton {
    color: #737373 !important;
    font-size: 16px;
    padding: 10px 10px;
    border-radius: 20px;
    border: 0px;
    background: #ffffff;
  }
  .homebutton:hover {
    color: #FFFFFF !important;
    background: #FF8A00;
  }

  input[type="file"] {
    border: 1px solid #555;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 0.2em;
  }

  input[type="file"]::file-selector-button {
    max-width: 100%;
    color: #FFFFFF !important;
    margin: 5px;
    border: 0px;
    padding: 1rem 1.25rem;
    cursor: pointer;
    border-radius: 0.2em;
    background-color: #D9D9D9;
    border: 1px solid #555; 
  }
  
  input[type="file"]::-ms-browse:hover {

    background-color: #FF8A00;
    border: 5px;
  }
  
  input[type="file"]::-webkit-file-upload-button:hover {

    background-color: #FF8A00;
    border: 5px;
  }
  
  input[type="file"]::file-selector-button:hover {

    background-color: #FF8A00;
    border: 5px;
  }

/* Hide the original submit button text */
.hidden-submit-button {

    color: transparent;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}

/* Style the custom submit button */
.custom-submit-button-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.custom-submit-button {
    max-width: 100%;
    margin-top: 5px;
    background: #D9D9D9;
    border-radius: 0.2em;
    color: #fff;
    padding: 1rem 1.25rem;
    cursor: pointer;
}

.custom-submit-button:hover {
    color: #FFFFFF;
    background: #FF8A00;
}

.create-post-container {
    background-color: #fff;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
}

input[type="text"] {
    width: 98%;
    height: 40px;
    background-color: #F0F2F5;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 10px;
}

.button-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.photo-button {
    background-color: #FF8A00;
    color: #ffffff;
    padding: 8px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.photo-button:hover {
    background-color: #ffffff;
    color: #ffa800;
}

#photo-upload {
    display: none;
}

.submit-button {
    background-color: #D9D9D9;
    color: #ffffff;
    padding: 8px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border: 0;
}

.submit-button:hover {
    background-color: #FF8A00;
}


/* Your existing CSS styles */

.post-container {
    position: relative;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
}

.post-container a {
    text-decoration: none;
    color: #000;
}

.post-container p {
    margin-bottom: 10px;
}

.post-container img {
    max-width: 100%;
}

.post-container .username-post {
    display: flex;
    justify-content: flex-start;
}

.post-container .username-post span {
    /* Remove max-height and border-radius properties */
    margin: 10px;
    font-weight: 800;
    color: #ffa800;
}

.post-container .username-post img {
    max-height: 50px;
    border-radius: 50%;
}

.post-container .timestamp {
    margin-left: 10px;
    color: #888;
    font-size: 14px;
    font-weight: 0;
}

.post-container .caption {
    font-size: 16px;
    color: #333;
    margin-bottom: 10px;
    padding: 10px;
}


.post-container .like-icon {
    color: gray; /* Default color for the thumbs-up icon */
    cursor: pointer;
    margin-right: 10px;
}

.post-container .like-icon.liked {
    color: orange; /* Color for the thumbs-up icon when liked */
}




.post-container .like-count,
.post-container .comment-count {
    color: #888;
    font-size: 14px;
}

.post-container .like-count {
    margin-right: 10px;
}

/* Your existing CSS styles */
#likeButton {
    cursor: pointer;
  }

  /* Orange color */
  #likeButton:not(.liked) {
    color: #FFA500;
  }

  /* Darker orange color when liked */
  #likeButton.liked {
    color: #FF4500;
  }

/* General styling for the post detail container */
.post-detail-container {
    display: flex;
    width: 80%;
    background-color: #FFFFFF;
    margin: 0 auto;
    border: 1px solid #FFFFFF;
    padding: 10px;
    border-radius: 5px;
}

/* Styling for the post image container */
.post-image-container {
    width: 70%;
    float: left;
    margin-right: 20px;
}

.post-image-container img {
    width: 100%;
}



/* Styling for the user info container */
.user-info-container {
    display: flex;
    width: 30%;
    float: left;
}

.user-info-container span {
    /* Remove max-height and border-radius properties */
    margin: 0px;
    font-weight: 800;
    color: #ffa800;
}

.user-info-container .profile-pic img {
    max-height: 100px;
    border-radius: 50%;
    margin-right: 10px;
    cursor: pointer;
    /* Apply a circular mask to the image */
    object-fit: cover;
    object-position: center center;
    width: 50px;
    height: 50px;
}



/* Styling for the like container */
.like-container {
    padding: 10px;
    clear: both;
}

.like-icon i {
    color: gray;
}

/* Styling for the comment container */
.comment-container textarea {
    width: 93%;
    height: 100px;
    resize: none;
    margin-bottom: 10px;
}

.comment-container input[type="text"] {
    width: 98%;
    height: 40px;
    background-color: #F0F2F5;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 10px;
}

.submit-comment-button {
    background-color: #007bff;
    color: #fff;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.submit-comment-button:hover {
    background-color: #0056b3;
}

/* Styling for the comments section */
.comments-section {
    margin-top: 20px;
}

.comment {
    margin-bottom: 10px;
}

.comment-profile-pic img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    float: left;
    margin-right: 10px;
}

.comment-content {
    padding: 0;
    overflow: hidden;
}

.comment-content p {
    display: flex;
    margin: 0;
    padding: 0px;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
}

.comment-content time {
    margin-left: 10px;
    padding-bottom: 10px;
    font-size: 13px;
    color: #888;
}

/* Add any additional styling as needed */

