/* Google Font Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("redorange-background.png");
  background-size: cover;
}

.logo {
  position: absolute;
  top: 50px;
  left: 90px;
  display: flex;
  align-items: center;
  font-size: 20px;
  font-weight: bold;
  color: #000000;
}

.logo img {
  height: 120px;
  margin-right: 20px;
}

.site-name {
  font-size: 40px;
  font-weight: bold;
}

.container {
  width: 45%;
  margin: 0px;
  padding: 20px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container:first-child {
  background-color: rgba(255, 255, 255, 0.6);
}

.container:last-child {
  background-color: rgba(128, 128, 128, 0.6);
  height: 100vh;
  top: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

.container:last-child * {
  color: #ffffff;
}

.container .forms {
  width: 100%;
}

.container .form-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container .form-content .title {
  text-align: center;
  position: relative;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 20px;
}

.container .form-content .input-boxes {
  margin-top: 15px;
}

.container .form-content .input-box {
  display: flex;
  align-items: center;
  height: 70px;
  width: 100%;
  margin: 10px 0;
  position: relative;
}

.container .form-content .input-box input {
  height: 100%;
  width: 100%;
  outline: none;
  border: none;
  padding: 0 30px;
  font-size: 20px;
  font-weight: 500;
  border-radius: 3px;
  box-sizing: border-box;
  background-color: rgba(238, 238, 238, 0.6);
  color: #000000;
}

.container .form-content .button {
  color: #fff;
  margin-top: 15px;
}

.container .form-content .button input {
  color: #fff;
  font-size: 18px;
  font-weight: 1000;
  height: 60px; 
  width: 140px;
  padding: 1;
  background: #00b2ff;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.4s ease;
  outline: none;
}

.container .form-content .button input:hover {
  background: #fff3a6;
}

.container .form-content label {
  color: #00b2ff;
  cursor: pointer;
  font-weight: bold;
  font-size: 20px;
}

.container .form-content .login-text,
.container .form-content .sign-up-text {
  text-align: center;
  margin-top: 25px;
}
